*{
    margin: 0;
    padding: 0;
}
body{
 background-color: #0D1117;  
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
header{
    display: flex;
    justify-content: space-between;
    background-color: #21262D ;
    color: white;
}
header h1{
    margin: 10px 0px 0px 20px;
    
}
ul{
    display: inline-flex;
    gap: 10px;
    list-style: none;
    margin:10px 20px 0px 0px;
    
}
a{
    text-decoration: none;
    color: white;
}
.separador{
    background-image: url('img/back.jpeg');
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    height: 300px;
    color: white;
    text-align: center;
    padding: 30px;
            
}
.separador h1{
    margin-top: auto;
}
.separador a{
    text-decoration: none;
    color: white;
}
.icon{
    color: yellow;
}
.name{
    color: yellow;
}
.contato li{
    font-size: 30px;
    padding: 20px;
    transition-duration: 0.3s;
}
.contato li:hover{
    font-size: 40px;
    color: yellow;
    border-bottom: yellow 5px solid;
    cursor: pointer;
}
.sobre{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#sobre{
    width: 50%;
    color: rgb(224, 221, 221);
    margin: 70px 0px 0px 50px;
}
#sobre p{
    margin: 10px;
}
#imagem{
    margin: 50px 0px 0px 50px;
}
#imagem img{
    width: 200px;
    height: 300px;
    border-radius: 20px;
}
.conhecimentos{
    display: flex;
    flex-direction: column;
}
#Conhecimentos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(224, 221, 221);
}
#Conhecimentos ul{
    display: flex;
    flex-direction: column;
}
.carousel-item{
    text-align: center;
}
.carousel-item img{
    width: 100px;
    height: 70px;
}
#projetos{
    color: white;
    text-align: center;
    margin-top: 20px;
     
}
.container{
    display: flex;
    justify-content: center;
    gap: 4px;
}
.oqFaco{
    background-color: white;
    border-radius: 10px;
    color: black;
    width: 215px;
    margin-left: 30px;
    box-shadow: rgb(240, 240, 240) 2px 2px 2px 2px;

}
.button {
 
  color: black;
  border: none;
  background-color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.closeModal{
    color: black;
  border: none;
  background-color: red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.duvidas{
    display: flex;
    margin-top: 50px;
    
}

#overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* leve escurecido */
  backdrop-filter: blur(5px); /* desfoca o fundo */
  display: none; /* começa escondido */
  justify-content: center;
  align-items: center;
  z-index: 999; /* fica acima de tudo */
}
#modal{
    padding: 11px;
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 54, 82);
    width: 370px;
    text-align: center;
    color: white;
    margin-top: 0;
    margin-left: 0%;
    border-radius: 5px;
}
.modalHeader{
    display: flex;
    justify-content: space-between;
}
form{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

select{
    border-radius: 20px;
}

 @media(max-width: 768px){
    
    .sobre{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        font-size: 10px;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
   
 }

